In [1]:
loc = r'C:\Users\ASUS\Desktop\Naveen\SFU\Sem_2\Special topics\Project\datasets\beers\MV.csv'

In [2]:
import pandas as pd

# Replace 'file_path.xls' with the path to your XLS file
# file_path = 'file_path.xls'

# Read the XLS file into a Pandas DataFrame
df = pd.read_csv(loc)

# Display the DataFrame
df

,id,beer_name,style,ounces,abv,ibu,brewery_id,brewery_name,city,state
0,1436,Pub Beer,American Pale Lager,12.0,0.050,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2265,Devil's Cup,American Pale Ale (APA),12.0,0.066,NaN,177,18th Street Brewery,Gary,IN
2,2264,Rise of the Phoenix,NaN,12.0,0.071,NaN,177,18th Street Brewery,Gary,IN
3,2263,Sinister,NaN,12.0,0.090,NaN,177,18th Street Brewery,Gary,IN
4,2262,Sex and Candy,American IPA,12.0,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...
2405,928,Belgorado,Belgian IPA,12.0,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,807,Rail Yard Ale,American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,620,B3K Black Lager,Schwarzbier,12.0,0.055,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,145,Silverback Pale Ale,American Pale Ale (APA),12.0,0.055,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [3]:
df['beer_name'][5:10]

5           Black Exodus
6    Lake Street Express
7                Foreman
8                   Jade
9                    NaN
Name: beer_name, dtype: object

In [4]:
df['beer_name'].dtypes

dtype('O')

In [5]:
# df['beer_name'].fillna('MISSING VALUE', inplace=True)
# df

In [6]:
# df['beer_name'].fillna('', inplace=True)
# df

In [7]:
df['beer_name'] = df['beer_name'].astype('string')
# df['beer_name'] = df['beer_name'].replace({'NaN': ''})
df['beer_name'].fillna('MISSING VALUE', inplace=True)
df

,id,beer_name,style,ounces,abv,ibu,brewery_id,brewery_name,city,state
0,1436,Pub Beer,American Pale Lager,12.0,0.050,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2265,Devil's Cup,American Pale Ale (APA),12.0,0.066,NaN,177,18th Street Brewery,Gary,IN
2,2264,Rise of the Phoenix,NaN,12.0,0.071,NaN,177,18th Street Brewery,Gary,IN
3,2263,Sinister,NaN,12.0,0.090,NaN,177,18th Street Brewery,Gary,IN
4,2262,Sex and Candy,American IPA,12.0,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...
2405,928,Belgorado,Belgian IPA,12.0,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,807,Rail Yard Ale,American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,620,B3K Black Lager,Schwarzbier,12.0,0.055,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,145,Silverback Pale Ale,American Pale Ale (APA),12.0,0.055,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [8]:
beer_string = df['beer_name'][5:15].str.cat(sep='\n ')

# Now beer_string will contain all the values in the series concatenated into a single string, separated by ', '
beer_string

'Black Exodus\n Lake Street Express\n Foreman\n Jade\n MISSING VALUE\n Sophomoric Saison\n MISSING VALUE\n Garce SelÃ©\n MISSING VALUE\n Bitter Bitch'

In [9]:
# df['beer_name'].to_csv('output.csv', index=False, header=True)
# df['beer_name'] = df['beer_name'].astype(str)

In [10]:
pmt = "Replace the lines which contain 'MISSING VALUES' for the following \n"+ beer_string
print(pmt)

Replace the lines which contain 'MISSING VALUES' for the following
Black Exodus
 Lake Street Express
 Foreman
 Jade
 MISSING VALUE
 Sophomoric Saison
 MISSING VALUE
 Garce SelÃ©
 MISSING VALUE
 Bitter Bitch

In [11]:
from transformers import GPTNeoForCausalLM, GPT2Tokenizer

model = GPTNeoForCausalLM.from_pretrained("EleutherAI/gpt-neo-1.3B")
tokenizer = GPT2Tokenizer.from_pretrained("EleutherAI/gpt-neo-1.3B")


prompt = (
        pmt
)

input_ids = tokenizer(prompt, return_tensors="pt").input_ids

gen_tokens = model.generate(
    input_ids,
    do_sample=True,
    temperature=0.9,
    max_length=100,
)
gen_text = tokenizer.batch_decode(gen_tokens)[0]

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

In [12]:
print(gen_text)

Replace the lines which contain 'MISSING VALUES' for the following
Black Exodus
 Lake Street Express
 Foreman
 Jade
 MISSING VALUE
 Sophomoric Saison
 MISSING VALUE
 Garce SelÃ©
 MISSING VALUE
 Bitter Bitch
 Blue Monday
 Pestilence
 MISSING VALUE
 MUDDLE
 Black Market
 MISSING VALUE
 D'Ombre
 Egoiste D'O

In [21]:
sstr = '''
Replace the lines which contain 'MISSING VALUES' for the following 
Black Exodus
 Lake Street Express
 Foreman
 Jade
 Blue Monday
 Sophomoric Saison
 Pestilence
 Garce SelÃ©
 MUDDLE
 Bitter Bitch
'''
print(sstr)

Replace the lines which contain 'MISSING VALUES' for the following
Black Exodus
 Lake Street Express
 Foreman
 Jade
 Blue Monday
 Sophomoric Saison
 Pestilence
 Garce SelÃ©
 MUDDLE
 Bitter Bitch

In [13]:
from transformers import GPTNeoForCausalLM, GPT2Tokenizer

model = GPTNeoForCausalLM.from_pretrained("EleutherAI/gpt-neo-1.3B")
tokenizer = GPT2Tokenizer.from_pretrained("EleutherAI/gpt-neo-1.3B")

prompt = (
    "In a shocking finding, scientists discovered a herd of unicorns living in a remote, "
    "previously unexplored valley, in the Andes Mountains. Even more surprising to the "
    "researchers was the fact that the unicorns spoke perfect English."
)

input_ids = tokenizer(prompt, return_tensors="pt").input_ids

gen_tokens = model.generate(
    input_ids,
    do_sample=True,
    temperature=0.9,
    max_length=100,
)
gen_text = tokenizer.batch_decode(gen_tokens)[0]

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

In [14]:
print(gen_text)

In a shocking finding, scientists discovered a herd of unicorns living in a remote, previously unexplored valley, in the Andes Mountains. Even more surprising to the researchers was the fact that the unicorns spoke perfect English.

The researchers, who are from the University of Barcelona, had already determined that they were not a species of any type of animal. But they knew that one of the unicorns could speak some kind of foreign language.

The researchers found the herd of unicorns

In [15]:
api_key = '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'

In [16]:
pip uninstall openai

Note: you may need to restart the kernel to use updated packages.

WARNING: Skipping openai as it is not installed.

In [17]:
pip install openai

Collecting openaiNote: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\anyio-2.2.0.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.

  Using cached openai-1.16.2-py3-none-any.whl (267 kB)
Collecting httpx<1,>=0.23.0
  Using cached httpx-0.27.0-py3-none-any.whl (75 kB)
Collecting pydantic<3,>=1.9.0
  Using cached pydantic-2.6.4-py3-none-any.whl (394 kB)
Collecting anyio<5,>=3.5.0

In [18]:
import openai 
  
# assigning API KEY to initialize openai environment 
openai.api_key = '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'

  Using cached anyio-4.3.0-py3-none-any.whl (85 kB)
Requirement already satisfied: tqdm>4 in c:\users\asus\appdata\roaming\python\python38\site-packages (from openai) (4.66.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from openai) (1.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from openai) (1.8.0)
Requirement already satisfied: typing-extensions<5,>=4.7 in c:\users\asus\appdata\roaming\python\python38\site-packages (from openai) (4.8.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: idna>=2.8 in c:\programdata\anaconda3\lib\site-packages (from anyio<5,>=3.5.0->openai) (2.10)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (2020.12.5)
Requirement already satisfied: httpcore==1.* in c:\programdata\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in c:\programdata\anaconda3\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Collecting annotated-types>=0.4.0
  Using cached annotated_types-0.6.0-py3-none-any.whl (12 kB)
Requirement already satisfied: pydantic-core==2.16.3 in c:\programdata\anaconda3\lib\site-packages (from pydantic<3,>=1.9.0->openai) (2.16.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>4->openai) (0.4.4)
Installing collected packages: anyio, annotated-types, pydantic, httpx, openai
  Attempting uninstall: anyio
    Found existing installation: anyio 2.2.0
    Uninstalling anyio-2.2.0:

ModuleNotFoundError: No module named 'openai'

In [ ]:
# function that takes in string argument as parameter 
def comp(PROMPT, MaxToken=50, outputs=3): 
	# using OpenAI's Completion module that helps execute 
	# any tasks involving text 
	response = openai.Completion.create( 
		# model name used here is text-davinci-003 
		# there are many other models available under the 
		# umbrella of GPT-3 
		model="text-davinci-003", 
		# passing the user input 
		prompt=PROMPT, 
		# generated output can have "max_tokens" number of tokens 
		max_tokens=MaxToken, 
		# number of outputs generated in one call 
		n=outputs 
	) 
	# creating a list to store all the outputs 
	output = list() 
	for k in response['choices']: 
		output.append(k['text'].strip()) 
	return output

In [ ]:
PROMPT = """Write a story to inspire greatness, take the antagonist as a Rabbit and protagnist as turtle. 
Let antagonist and protagnist compete against each other for a common goal. 
Story should atmost have 3 lines."""
comp(PROMPT, MaxToken=3000, outputs=3)